<!-- <div>
    <table>
        <thead>
            <tr>
                <td>Product Sr No.</td>
                <td>Product Name</td>
                <td>Product Id</td>
                <td>Product Price</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of products; index as x">
                <td>{{x+1}}</td>
                <td>{{i.name}}</td>
                <td>{{i.id}}</td>
                <td>{{i.price}}</td>
            </tr>
        </tbody>
    </table>
</div> -->

<div>
    <div>
        <input type="text" #Uname  class="form-control" placeholder="User Name" >
        <button (click)="onCreate(Uname)">Create User</button>
        <button (click)="onRemove()">Remove</button>
    </div>
    <br>
    <div>
        <table>
            <thead>
                <tr>
                    <th>UserName</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users; index as i">
                    <td>{{user.name}}</td>
                    <td>
                        <button (click)="onRemoveItem(i)">Remove Item</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>