<div >
    <div>
        <h1>Hello</h1>
        <table>
           
            <thead>
                <tr *ngFor="let product of products">
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.username}}</td>
                    <td> {{product.email}}</td>
                </tr>
            </thead>
        </table>
     
    </div>
</div>


 <!-- Product Id: <strong>{{product.id}}</strong> -->
        <!-- <p>Some Quick Example</p>
        <button (click)="btnClick()">Newsletter Subscribe</button> -->
