<div class="container-fluid">

    <div class="card-header text-center">
        <h3>User Detail</h3>
    </div>
    <div class="card">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Avatar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{user?.data.id}}</td>
                    <td>{{user?.data.first_name}}</td>
                    <td>{{user?.data.last_name}}</td>
                    <td>{{user?.data.email}}</td>
                    <td> <img src="{{user?.data.avatar}}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="footer">
        <button type="button" class="btn btn-success" (click)="goBack()">Back to User List</button>
    </div>


    <div *ngIf="emp && id">
        <div class="card" style="width: 18rem;">
            <img src="{{emp.avatar}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title">{{emp.first_name}} {{emp.last_name}}</h3>
                <p class="card-text">{{emp.email}}</p>
            </div>
        </div>
    </div>

    <div *ngFor="let Emp of emp">
        {{Emp.first_name}}
     </div>

</div>