<!--The content below is only a placeholder and can be replaced.-->

<div style = "text-align:center">
   <h1>
      <!-- Welcome to {{title}}. -->
   </h1>
   <!-- <app-input [item]="currentItem"></app-input> -->
</div>

<!-- <app-new-cmp></app-new-cmp>
<app-databinding></app-databinding> -->
<!-- <app-dirngfor></app-dirngfor> -->

<!-- <h1>Custom Pipe</h1> -->
<!-- <b>Square root of 25 is: {{25 | sqrt}}</b><br/>
<b>Square root of 729 is: {{729 | sqrt}}</b> -->
<!-- <br />
<br />
<br />
<a routerLink = "new-cmp">New component</a>
<br />
<br/>
<router-outlet></router-outlet> -->

<!-- {{todaydate}} -->

<!-- <app-new-cmp></app-new-cmp> -->
<!-- <app-contact></app-contact> -->
<!-- <app-card></app-card> -->
<!-- <app-card2></app-card2> -->

<!-- <app-contact2></app-contact2> -->
<!-- 
<ul>
   <li *ngFor="let item of items">
  {{item}}
   </li>
</ul>

<app-output (newItemEvent)="addItem($event)" ></app-output> -->

<!-- main app container -->
<!-- <div class="jumbotron">
   <div class="container text-center">
       <div class="row">
           <div class="col-sm-8 offset-sm-2">
               <div *ngFor="let message of messages" class="alert alert-success">{{message.text}}</div>
               <app-home></app-home>
           </div>
       </div>
   </div>
</div> -->


<!-- Lazy Loading -->
<!-- <h1>
  {{title}}
</h1>

<button routerLink="">Home</button>
<button routerLink="/customers">Customers</button>
<button routerLink="/orders">Orders</button>

<router-outlet></router-outlet>
 -->

<!-- <app-about></app-about> -->


<!-- <p appHighlight>Highlight me!</p> -->
<!-- <p color='lightgreen'>Highlighted with parent component's color</p>
<p color='yellow'>Highlighted in yellow</p>
<p color=''>Highlighted in orange</p>
<input type="text" > -->
<!-- <button type="submit" appHighlight>Click</button>
<p appHighlight highlightColor="yellow">Highlighted in yellow</p>

<h2>Pick a highlight color</h2>
<div>
  <input type="radio" name="colors" (click)="color='lightgreen'">Green
  <input type="radio" name="colors" (click)="color='yellow'">Yellow
  <input type="radio" name="colors" (click)="color='cyan'">Cyan
</div>
<p [appHighlight]="color">Highlight me!</p>
<p [appHighlight]="color" defaultColor="violet">
   Highlight me too!
 </p> -->


 <!-- ngOnChange -->
<!-- 
 <h1 style="color: orange;">Life Cycle Hook</h1>
 <app-ngchange  [message]="message"></app-ngchange>
 <button (click)="update()">Change</button> -->

<!-- 
  <div class="employee">
   <form #empForm="ngForm" (ngSubmit)="onFormSubmit(empForm)">
     <p>Name: <input name="name" [ngModel]="emp.name"></p>
     <p>Age:<input name="age" [ngModel]="emp.age"></p>  
     <button>Submit</button>
   </form>
 </div>	
 <div class="message">
    <p>Message: <input [(ngModel)]="msg"/></p>
 </div>	 
 
 <app-employee [employee]="emp" [message]="msg"></app-employee>   -->
 <!-- <app-admin-home></app-admin-home> -->


<!-- <button (click)="fetch()">fetch</button> -->
<!-- 
<nav ngClass="parent-menu">
   <ul>
      <li>
         <a [routerLink]="['home']" routerLinkActive="active">Home</a>
             </li>
      <li>
  <a [routerLink]="['admin']" routerLinkActive="active">Admin</a>

      </li>
   </ul>
</nav>
<div>
   <h3><router-outlet></router-outlet></h3>
</div> -->

<router-outlet></router-outlet>
